<div class="w-full flex justify-between items-center p-3 border-b border-gray-200 pb-2">
  <!-- Logo -->
  <img class="w-9 h-9" src="logo.svg" />

  <!-- Botão de Produtos -->
  <div
    class="flex items-center p-2 rounded-lg bg-[#F5EAEA] cursor-pointer active:translate-y-2 duration-200 ease-in-out transition"
    routerLink="/products"
  >
    <img class="mr-2 w-4 h-4" src="package.svg" />
    <span class="text-[#F24D0D] text-sm font-medium">Produtos</span>
  </div>

  <!-- Container Botão Novo Produto e Avatar -->
  <div class="flex items-center">
    <!-- Botão Novo Produto -->
    <div
      class="flex items-center p-2 rounded-lg bg-[#F24D0D] cursor-pointer mr-3 active:translate-y-2 duration-200 ease-in-out transition"
      routerLink="/new-product"
    >
      <img class="mr-2 w-4 h-4" src="plus-sign.svg" />
      <span class="text-white text-sm">Novo produto</span>
    </div>

    <!-- Avatar -->
    <img src="user-avatar.svg" />
  </div>
</div>
